.facture {
    width: 100%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #000;
    margin-left: 10px;

   /* box-shadow: 10px 10px #0057ff; */
}

.position-facture{
    padding-top: 7%;
}

.position-shop{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 70px;
    padding-right: 9%;
}

.select-measure {
    padding: 10px;
    font-size: 14px;
    width: 80px; 
  }

.deleteText {

    font-size: 20px;

}
